# Copy this file to .env and replace with your actual values

# Truth Swarm Evaluator Agent
TRUTH_SWARM_AGENT_SEED_PHRASE=your_evaluator_seed_phrase_here_12_words_or_more

# DeFi Agent
DEFI_AGENT_SEED_PHRASE=your_defi_agent_seed_phrase_here_12_words_or_more

ASI1_API_KEY=
OPENAI_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
SSL_CERT_FILE=

# For cert error See https://docs.google.com/document/d/1Xsep6w5G5ARIPiihjQlwEKB8t6Vv2nnFku3PTqJHZQ0/edit?tab=t.0

# Optional: Add other environment variables here
# PORT=8000
# ENDPOINT=http://localhost:8000/submit
